.cabecalho {

    background-color: #0285FE;
}
.cabecalho__imagem {

    width: 164px;
    height: 150.82px;
}
.cabecalho_titulo, .cabecalho__menu{

    display: inline;
}
.cabecalho__menu-item{

    display: inline;
    margin: 0px 0px 0px 100px;
}