.cabecalho {

    background-color: #0285FE;
    display: flex;
    justify-content: space-around; 

}
.cabecalho__imagem {

    width: 164px;
    height: 150.82px;
}
.cabecalho_titulo, .cabecalho__menu{

    display: flex;
    justify-content: space-around; 
}
.cabecalho__menu-item{

    display: inline;
    margin: 0px 0px 0px 100px;
}
.cabecalho_titulo_nome{
    display: inline-block;
    margin: auto;
    font-size: 45px;
    font-family:'Courier New', Courier, monospace;
    font-size: color #FFFFFF;
}