*{
    margin: 0%;
    padding: 0%;

}

body {

font-family: 'Baloo Bhaijaan 2', cursive;
}

.cabecalho {

    background-color: #0285FE;
    display: flex;
    justify-content: space-around;
    border-radius: 0px 0px 100px 0px;

}

.cabecalho__imagem {

    width: 164px;
    height: 150.82px;
    
}

.cabecalho_titulo,
.cabecalho__menu {

    display: flex;
    justify-content: space-around;
}

.cabecalho__menu-item {

    display: inline;
    font-size: 32px;
    color: #0B2465;
    margin: 0px 0px 0px 100px;
}

.cabecalho_titulo_nome {
    display: inline-block;
    margin: auto;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    font-size: color #FFFFFF;
}

.escola {
    margin: 20px;
    padding: 20px;
    background-color: #52A1E9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px 40px 40px 40px;
   

}

.escola__imagem {
    width: 300px;
    height: auto;
    margin: 20px;


}
.escola__titulo {
text-align: center;


}

.escola__paragrafo {

    text-align: justify;
}

.professores{
display: grid;
grid-template-columns: 20% 20% 20% 20% 20%;
grid-template-rows: auto auto;
background-color: #A4CAF6;
border-radius: 40 40 40 40 ;
margin: 20px;
padding: 20px;

}

.professore__div {
text-align: center;

}
.professores__div-imagem{
    
width: 120px;
height: auto;

}